body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #000;
}

header {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.social-icons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.social-icons a {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80vh;
    padding: 0 20px;
    gap: 20px;
    text-align: right;
}

.text {
    flex: 1;
    text-align: right;
}

.text h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    margin: 0;
    text-align: right;
}

.highlight {
    color: #6dbb63; /* PMS 357 */
}

.description {
    font-size: 1.2em;
    margin-top: 20px;
    text-align: right; /* Justificar texto */
    max-width: 600px; /* Ajuste para manter a legibilidade */
    margin-left: auto; /* Alinhamento à direita */
}

.photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-left: 30px; /* Ajuste da distância entre imagem e texto */
}

.about {
    padding: 40px 20px;
    text-align: center;
}

.about .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6dbb63; /* PMS 357 */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.about .button:hover {
    background-color: #5b9a50; /* Tom mais escuro de PMS 357 */
}

.icons {
    margin-top: 20px;
}

.icons img {
    margin: 0 10px;
}

.lectures {
    text-align: center;
    padding: 40px 20px;
}

.lectures .photos img {
    width: 150px;
    height: auto;
    margin: 5px;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
